.infoContainer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
    width: 100%;
    flex-direction: column;
    background-color: black;
    overflow: hidden;
    .infoHeader{
        position: relative;
        font-size: 2.5rem;  
        text-align: center;
        z-index: 1;
        margin: 0;
        margin-bottom: 3rem;
    }
    .infoTextContainer {
        display: flex;
        position: relative;
        flex-direction: row;
        width: 100%;
        gap: 10rem;
        z-index: 1;
        .statContainer {
            display: flex;
            flex-direction: column;
            align-items: center;
            .count {
                font-size: 5em;
                margin: 10px;
            }
        }
        .statContainer p {
            margin: 0;
        }
    }
}