.templateContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    background-color: black;
    overflow: hidden;
    .welcomeHeader {
        position: relative;
        font-size: 3.25rem;
        font-weight: bold;
        width: 75%;
        margin: 0;
        margin-bottom: 25px;
        margin-left: 50%;
        line-height: 1.2;
        overflow: hidden;
        z-index: 1;
    }
    
    .helperText {
        position: relative;
        margin: 0;
        width: 75%;
        font-size: 1.25rem;
        margin-left: 50%;
        margin-bottom: 50px;
        z-index: 1;
    }
    .buttonContainer {
        position: relative;
        margin: 0;
        margin-left: 50%;
    }
    }